.bakery {
    height: 500px;
    background: {
        image: url(../img/concept-bg.jpg);
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    }
    padding: 25px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 30px;
}

.bread-list {
    display: flex;
    flex-flow: row wrap;
    li {
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: solid 30px #000;
        box-sizing: border-box;
    }
}



// 画像を表示させた時の画像のスタイル
.bread-image li img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.bread-list li {
    position: relative;
}

.filter {
    &:hover {
        cursor:pointer;
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .4);

}