.concept {
    width: 100vw;
    height: 500px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 100px;

    .second-container {
        .second-title {
            color: $textColor;
        }
        p {
            color: $textColor;
        }
    }

}

