.concept {
    height: 700px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 100px;

    .second-container {
        .second-title {
            color: $textColor;
        }

        p, .name {
            color: $textColor;
        }

        .name {
            text-align: right;
        }

    }

        .concept-profile {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            background: {
                image: url(../img/company2.jpg);
                size: cover;
                repeat: no-repeat;
                position: 50% 50%;
            }
    }
}

