
footer {
	height: 200px;
	background-color: #000;
	display: flex;
}


.footer-left {
	margin-top: 70px;
	margin-left: 100px;
	.wafel {
	color: #fff;
		&:hover {
			color: #FFE094;
		}
	}
	.cookie {
		color: #fff;
		&:hover {
			color: #A87106
		}
	}
}


$titleColor: #fff;
.footer-right {
	color: $titleColor;
	margin-top: 90px;
	margin-left: 20px;

}