header {
    color: $textColor;
    padding: 25px;
}



.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    p a{
        color: $textColor;
        text-decoration: none;
    }
}

.header-right{
    display: flex;
    font-size: 16px;

    > li {
        &:last-child {
            margin-right: 0;
        }
        > a{
            text-decoration: none;
            color: $textColor;
            cursor: pointer;
            padding: 25px 15px;
            &:hover {
                background-color: rgba(0, 0, 0, .4);
                color: $titleColor;
            }
        }
    }
}

.top-container {
    display: flex;
    flex-direction: column;
    .editors-page {
        h2 {
            font-size: 20px;
            text-align: center;
            margin: 30px;
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
            li a {
                text-decoration: none;
                font-size: 25px;
                color: $titleColor;
                background-color: rgba(#000, 0.6);
                padding: 15px;
                border-radius: 5px;
            }
        }
    }

}



.top-img {
    @include titleStyle(700px);
    background: {
        image: url(../img/top-img.jpg);
        size: cover;
        repeat: no-repeat;
        attachment: fixed;
    }
}

.top-title {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    background-color: rgba(#000, 0.6);
    a {
        color: $titleColor;
        text-decoration: none;
    }
}

.second-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.editors-page {
    color: $titleColor;

}
